[GENERAL]
RESPONSEFILE_VERSION="11.2.0"
OPERATION_TYPE="createDatabase"

[CREATEDATABASE]
GDBNAME={{ database_global_database_name }}
SID={{ database_sid|default('TEST') }}
TEMPLATENAME="{{ oracle_dbca_template_file }}.dbc"
SYSPASSWORD="{{ oradb_sys_password }}"
SYSTEMPASSWORD="{{ oradb_system_password }}"
EMCONFIGURATION="NONE"
SYSMANPASSWORD="{{ oradb_sysman_password }}"
DBSNMPPASSWORD="{{ oradb_dbsnmp_password }}"
STORAGETYPE=ASM
DISKGROUPNAME=DATA
ASMSNMP_PASSWORD="{{ oradb_asmsnmp_password }}"
RECOVERYGROUPNAME=FLASH
AUTOMATICMEMORYMANAGEMENT="TRUE"
TOTALMEMORY="1024"
LISTENERS="LISTENER"
SAMPLESCHEMA=FALSE
DATABASETYPE="MULTIPURPOSE"
CHARACTERSET="{{ database_characterset|default('AL32UTF8') }}"
