-IAMRole {{ ansible_ec2_iam_instance_profile_role | regex_replace('_type') }}
-walletDir {{ oracle_database_oracle_home }}/dbs/osbws_wallet
-libDir {{ oracle_database_oracle_home }}/lib
-location {{ ansible_ec2_instance_identity_document_region }}
-awsEndPoint s3.{{ ansible_ec2_instance_identity_document_region }}.amazonaws.com
